doctype html
html(style="height: 100dvh;")
    head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      meta(http-equiv='X-UA-Compatible' content='ie=edge')
      title= title
      link(rel='stylesheet' type="text/css" href='css/style.css')
    body(class="dark:bg-stone-950 dark:text-stone-100")
      block content
    footer
      p(class="pb-10 text-center text-gray-700 dark:text-stone-300")
        | Built by <a href="https://zachpatrick.com" target="_blank" class="underline decoration-green-500">Zach Patrick</a>
    script(src='script.js')
